<%= form_for user do |f| %>

	<div class="row">
		<div class="page new settings col-md-6">
			<div class="form-group">
				<label for="page_title">First Name</label>
				<%= f.text_field :nameFirst, 
					:placeholder => "John", 
					:class => "form-control" %>
			</div>
			<div class="form-group">
				<label for="page_slug">Last Name</label>
				<%= f.text_field :nameLast, 
					:placeholder => "Doe", 
					:class => "form-control" %>
			</div>
			<div class="form-group">
				<label for="page_tags">Email</label>
				<%= f.text_field :contactEmail, 
					:placeholder => "email@host.com", 
					:class => "form-control" %>
				<p class="help-block">Note: This email will be used to fetch your <a href="http://gravatar.com">Gravatar</a></p>
			</div>
			<% if currentUser != nil && currentUser.isAdmin == true %>
				<div class="form-group">
					<label for="page_tags">Admin</label>
					<%= f.check_box :isAdmin %>
				</div>
			<% end %>
		</div>
		<div class="col-md-5">
			<div class="form-group">
				<label for="page_title">Username</label>
				<%= f.text_field :loginUsername, 
					:placeholder => "myUsername86", 
					:class => "form-control" %>
			</div>
			<div class="form-group">
				<label for="page_title">Password</label>
				<%= f.password_field :password, 
					:placeholder => "secretPassWORD1234",
					:class => "form-control" %>
				<p class="help-block">Note: If you don't want to change the password leave this field blank.</p>
			</div>
			<div class="form-group">
				<label for="page_title">Password Confirm</label>
				<%= f.password_field :password_confirmation,
					:placeholder => "secretPassWORD1234",
					:class => "form-control" %>
				<p class="help-block">Please, repeat your password in this field.</p>
			</div>	
		</div>
	</div>

<% end %>
